/*
  BADGE
  Simple pill shaped badge as a base for various badges and notificaitons.
  Use atomic Tachyons classes to style at will.
*/

.k--badge {
    background-color: #20527c;
    border-radius: 9999px;
    color: white;
    display: inline-block;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1;
    padding: .25rem .5rem;
}

/*
  BUTTONS
  Classes for building on-brand, consistent buttons.
*/

[class*="k--button"] {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: .875rem;
    font-weight: 400;
    letter-spacing: -.02em;
    line-height: 1.5;
    padding: .5rem 1rem;
    text-align: center;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    white-space: nowrap;
}

[class*="k--button"], [class*="k--button"]:hover, [class*="k--button"]:focus {
    text-decoration: none;
}

.k--button {
    background-color: #fff;
    color: hsl(220, 20%, 20%);
    border-color: hsl(220, 20%, 80%);
}

.k--button:hover {
    background-color: hsl(220, 20%, 92%);
    color: hsl(220, 20%, 20%);
    opacity: 1;
}

.k--button:active {
    background-color: hsl(220, 20%, 92%);
    color: hsl(220, 20%, 20%);
    opacity: 1;
}

.k--button.k--active {
    background-color: hsl(220, 20%, 92%);
    color: hsl(220, 20%, 20%);
    opacity: 1;
}

.k--button:focus {
    box-shadow: 0 0 0 .125rem rgba(5, 176, 235, .3);
    outline: none;
    border-color: hsl(195, 100%, 46%);
}

.k--button-primary {
    background-color: hsl(195, 100%, 46%);
    color: #fff;
}

.k--button-primary:hover {
    color: #fff;
    opacity: .85;
}

.k--button-primary:active {
    color: #fff;
    opacity: .85;
}

.k--button-primary.k--active {
    color: #fff;
    opacity: .85;
}

.k--button-primary:focus {
    border-color: hsla(220, 100%, 4%, .2) !important;
    box-shadow: 0 0 0 .125rem rgba(5, 176, 235, .3);
    outline: none;
}

.k--button-danger-primary {
    background-color: #ff4d5b;
    color: #fff;
}

.k--button-danger-primary:hover {
    color: #fff;
    opacity: .85;
}

.k--button-danger-primary:active {
    color: #fff;
    opacity: .85;
}

.k--button-danger-primary.k--active {
    color: #fff;
    opacity: .85;
}

.k--button-danger-primary:focus {
    border-color: hsla(220, 100%, 4%, .2) !important;
    box-shadow: 0 0 0 .125rem rgba(255, 77, 91, .3);
    outline: none;
}

.k--button-danger {
    border-color: currentColor;
    color: #ff4d5b;
}

.k--button-danger:hover {
    background-color: #ffdfdf;
    opacity: 1;
}

.k--button-danger:active {
    background-color: #ffdfdf;
    opacity: 1;
}

.k--button-danger.k--active {
    background-color: #ffdfdf;
    opacity: 1;
}

.k--button-danger:focus {
    box-shadow: 0 0 0 .125rem rgba(255, 77, 91, .3);
    outline: none;
}

.k--button-secondary {
    border-color: currentColor;
    color: hsl(195, 100%, 46%);
}

.k--button-secondary:hover {
    background-color: #d4f4ff;
    opacity: 1;
}

.k--button-secondary:active {
    background-color: #d4f4ff;
    opacity: 1;
}

.k--button-secondary.k--active {
    background-color: #d4f4ff;
    opacity: 1;
}

.k--button-secondary:focus {
    box-shadow: 0 0 0 .125rem rgba(5, 176, 235, .3);
    outline: none;
}

.k--button-link {
    border-color: transparent;
    color: hsl(195, 100%, 46%);
    padding: .5rem;
    -webkit-transition: none;
    transition: none;
}

.k--button-link:hover, .k--button-link:active, .k--button-link.k--active {
    background-color: transparent;
    opacity: 1;
    text-decoration: underline;
}

.k--button-link:focus {
    border-color: transparent;
    outline: none;
    text-decoration: underline;
}

[class*="k--button"].k--disabled {
    background-color: hsl(220, 20%, 96%);
    box-shadow: none;
    border-color: hsl(220, 20%, 92%);
    color: hsl(220, 20%, 80%);
    cursor: default;
    opacity: 1;
}

[class*="k--button"].k--disabled:hover {
    background-color: hsl(220, 20%, 96%);
    box-shadow: none;
    border-color: hsl(220, 20%, 92%);
    color: hsl(220, 20%, 80%);
    cursor: default;
    opacity: 1;
}

[class*="k--button"].k--disabled:focus {
    background-color: hsl(220, 20%, 96%);
    box-shadow: none;
    border-color: hsl(220, 20%, 92%);
    color: hsl(220, 20%, 80%);
    cursor: default;
    opacity: 1;
}

[class*="k--button"][disabled] {
    background-color: hsl(220, 20%, 96%);
    box-shadow: none;
    border-color: hsl(220, 20%, 92%);
    color: hsl(220, 20%, 80%);
    cursor: default;
    opacity: 1;
}

[class*="k--button"][disabled]:hover {
    background-color: hsl(220, 20%, 96%);
    box-shadow: none;
    border-color: hsl(220, 20%, 92%);
    color: hsl(220, 20%, 80%);
    cursor: default;
    opacity: 1;
}

[class*="k--button"][disabled]:focus {
    background-color: hsl(220, 20%, 96%);
    box-shadow: none;
    border-color: hsl(220, 20%, 92%);
    color: hsl(220, 20%, 80%);
    cursor: default;
    opacity: 1;
}

.k--button-small {
    font-size: .75rem;
    padding: .25rem .5rem;
}

.k--button-large {
    font-size: 1rem;
    line-height: 1;
    padding: 1rem 2rem;
}

.k--button-black {
    border: none;
    font-weight: 300;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .125rem;
    border: none;
    -webkit-transition: background-color .15s, color .15s;
    transition: background-color .15s, color .15s;
    color: #fff;
    background-color: hsl(220, 20%, 4%);
}

.k--button-black:disabled {
    background-color: hsla(220, 100%, 4%, .1);
    color: hsla(220, 100%, 4%, .3);
}

.k--button-dark-gray {
    border: none;
    font-weight: 300;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .125rem;
    border: none;
    -webkit-transition: background-color .15s, color .15s;
    transition: background-color .15s, color .15s;
    color: #fff;
    background-color: hsl(220, 20%, 50%);
}

.k--button-dark-gray:disabled {
    background-color: hsla(220, 100%, 4%, .1);
    color: hsla(220, 100%, 4%, .3);
}

.k--button-light-gray {
    border: none;
    font-weight: 300;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .125rem;
    border: none;
    -webkit-transition: background-color .15s, color .15s;
    transition: background-color .15s, color .15s;
    color: hsl(220, 20%, 14%);
    background-color: hsl(220, 20%, 92%);
}

.k--button-light-gray:disabled {
    background-color: hsla(220, 100%, 4%, .1);
    color: hsla(220, 100%, 4%, .3);
}

.k--button-white {
    border: none;
    font-weight: 300;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .125rem;
    border: none;
    -webkit-transition: background-color .15s, color .15s;
    transition: background-color .15s, color .15s;
    color: hsl(195, 100%, 46%);
    background-color: #fff;
}

.k--button-white:disabled {
    background-color: hsla(220, 100%, 4%, .1);
    color: hsla(220, 100%, 4%, .3);
}

.k--button-red {
    border: none;
    font-weight: 300;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .125rem;
    border: none;
    -webkit-transition: background-color .15s, color .15s;
    transition: background-color .15s, color .15s;
    color: #fff;
    background-color: #ff4d5b;
}

.k--button-red:disabled {
    background-color: hsla(220, 100%, 4%, .1);
    color: hsla(220, 100%, 4%, .3);
}

.k--button-orange {
    border: none;
    font-weight: 300;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .125rem;
    border: none;
    -webkit-transition: background-color .15s, color .15s;
    transition: background-color .15s, color .15s;
    color: #fff;
    background-color: #ff6300;
}

.k--button-orange:disabled {
    background-color: hsla(220, 100%, 4%, .1);
    color: hsla(220, 100%, 4%, .3);
}

.k--button-yellow {
    border: none;
    font-weight: 300;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .125rem;
    border: none;
    -webkit-transition: background-color .15s, color .15s;
    transition: background-color .15s, color .15s;
    color: hsl(220, 20%, 14%);
    background-color: #ffd700;
}

.k--button-yellow:disabled {
    background-color: hsla(220, 100%, 4%, .1);
    color: hsla(220, 100%, 4%, .3);
}

.k--button-purple {
    border: none;
    font-weight: 300;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .125rem;
    border: none;
    -webkit-transition: background-color .15s, color .15s;
    transition: background-color .15s, color .15s;
    color: #fff;
    background-color: #6262d9;
}

.k--button-purple:disabled {
    background-color: hsla(220, 100%, 4%, .1);
    color: hsla(220, 100%, 4%, .3);
}

.k--button-pink {
    border: none;
    font-weight: 300;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .125rem;
    border: none;
    -webkit-transition: background-color .15s, color .15s;
    transition: background-color .15s, color .15s;
    color: #fff;
    background-color: #ff80cc;
}

.k--button-pink:disabled {
    background-color: hsla(220, 100%, 4%, .1);
    color: hsla(220, 100%, 4%, .3);
}

.k--button-green {
    border: none;
    font-weight: 300;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .125rem;
    border: none;
    -webkit-transition: background-color .15s, color .15s;
    transition: background-color .15s, color .15s;
    color: #fff;
    background-color: #00d17d;
}

.k--button-green:disabled {
    background-color: hsla(220, 100%, 4%, .1);
    color: hsla(220, 100%, 4%, .3);
}

.k--button-blue {
    border: none;
    font-weight: 300;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .125rem;
    border: none;
    -webkit-transition: background-color .15s, color .15s;
    transition: background-color .15s, color .15s;
    color: #fff;
    background-color: hsl(195, 100%, 46%);
}

.k--button-blue:disabled {
    background-color: hsla(220, 100%, 4%, .1);
    color: hsla(220, 100%, 4%, .3);
}

/* remove this soon */

/*
  GROUP
  To combine buttons  and form elements into a grouped utility.
  Media Query Extensions:
    -ns = not-small
    -m  = medium
    -l  = large
*/

.k--group {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.k--group * {
    position: relative;
    z-index: 0;
}

.k--group *:active, .k--group *:focus {
    z-index: 2;
}

.k--group *:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.k--group *:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.k--group *:not(:first-child) {
    margin-left: -1px;
}

.k--group *:not(:first-child):not(:last-child) {
    border-radius: 0;
}

/*
  FORMS
  Classes for building on-brand, consistent forms.
*/

[class^="k--label"] {
    display: block;
    font-size: .875rem;
    font-weight: 400;
    margin-bottom: .5rem;
}

.k--input {
    background-image: none;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid hsl(220, 20%, 80%);
    border-radius: .25rem;
    color: hsl(220, 20%, 50%);
    display: block;
    font-size: .875rem;
    font-weight: 200;
    letter-spacing: -.02em;
    line-height: 1.5;
    padding: .5rem 2rem;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    width: 100%;
}

.k--select {
    background-image: none;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid hsl(220, 20%, 80%);
    border-radius: .25rem;
    color: hsl(220, 20%, 50%);
    display: block;
    font-size: .875rem;
    font-weight: 200;
    letter-spacing: -.02em;
    line-height: 1.5;
    padding: .5rem;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    width: 100%;
}

.k--textarea {
    background-image: none;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid hsl(220, 20%, 80%);
    border-radius: .25rem;
    color: hsl(220, 20%, 50%);
    display: block;
    font-size: .875rem;
    font-weight: 200;
    letter-spacing: -.02em;
    line-height: 1.5;
    padding: .5rem;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    width: 100%;
}

select.k--input, select.k--select {
    cursor: pointer;
    height: calc(1.5 * .875rem + 1rem + 2px);
}

.k--input-small, .k--select-small {
    font-size: .75rem;
    padding-bottom: .25rem;
    padding-top: .25rem;
}

select.k--input-small, select.k--select-small {
    height: calc(1.5 * .75rem + .5rem + 2px);
}

.k--input-large, .k--select-large {
    font-size: 1rem;
    line-height: 1;
    padding-bottom: 1rem;
    padding-top: 1rem;
    height: calc(1 * 1rem + 2rem + 2px);
}

select.k--input-large, select.k--select-large {
    height: calc(1 * 1rem + 2rem + 2px);
}

.k--input::-webkit-input-placeholder {
    color: hsl(220, 20%, 80%);
}

.k--input:-ms-input-placeholder {
    color: hsl(220, 20%, 80%);
}

.k--input::placeholder {
    color: hsl(220, 20%, 80%);
}

.k--textarea::-webkit-input-placeholder {
    color: hsl(220, 20%, 80%);
}

.k--textarea:-ms-input-placeholder {
    color: hsl(220, 20%, 80%);
}

.k--textarea::placeholder {
    color: hsl(220, 20%, 80%);
}

.k--input[readonly] {
    background-color: hsl(220, 20%, 96%);
    border-color: hsl(220, 20%, 92%);
}

.k--textarea[readonly] {
    background-color: hsl(220, 20%, 96%);
    border-color: hsl(220, 20%, 92%);
}

.k--input[readonly]:focus {
    border-color: hsl(220, 20%, 80%);
    box-shadow: 0 0 0 .125rem hsla(220, 100%, 4%, .05);
    background-color: hsl(220, 20%, 96%);
}

.k--textarea[readonly]:focus {
    border-color: hsl(220, 20%, 80%);
    box-shadow: 0 0 0 .125rem hsla(220, 100%, 4%, .05);
    background-color: hsl(220, 20%, 96%);
}

.k--input:disabled {
    background-color: hsl(220, 20%, 96%);
    border-color: hsl(220, 20%, 92%);
    color: hsl(220, 20%, 80%);
    cursor: default;
}

.k--select:disabled {
    background-color: hsl(220, 20%, 96%);
    border-color: hsl(220, 20%, 92%);
    color: hsl(220, 20%, 80%);
    cursor: default;
}

.k--textarea:disabled {
    background-color: hsl(220, 20%, 96%);
    border-color: hsl(220, 20%, 92%);
    color: hsl(220, 20%, 80%);
    cursor: default;
}

.k--input:focus {
    background-color: #fff;
    border-color: hsl(195, 100%, 46%);
    outline: none;
    box-shadow: 0 0 0 .125rem rgba(5, 176, 235, .3);
}

.k--select:focus {
    background-color: #fff;
    border-color: hsl(195, 100%, 46%);
    outline: none;
    box-shadow: 0 0 0 .125rem rgba(5, 176, 235, .3);
}

.k--textarea:focus {
    background-color: #fff;
    border-color: hsl(195, 100%, 46%);
    outline: none;
    box-shadow: 0 0 0 .125rem rgba(5, 176, 235, .3);
}

.k--form-help {
    color: hsl(220, 20%, 60%);
    display: block;
    font-size: .75rem;
    margin: .5rem 0;
}

.k--label-radio {
    cursor: pointer;
    color: hsl(220, 20%, 50%);
    font-weight: 200;
    padding-left: 1.25rem;
}

.k--label-checkbox {
    cursor: pointer;
    color: hsl(220, 20%, 50%);
    font-weight: 200;
    padding-left: 1.25rem;
}

.k--label-radio input, .k--label-checkbox input {
    cursor: pointer;
    margin-left: -1.25rem;
    margin-right: .25rem;
}

.k--label-radio.k--disabled {
    color: hsl(220, 20%, 80%);
    cursor: default;
}

.k--label-radio.k--disabled input {
    cursor: default;
}

.k--label-checkbox.k--disabled {
    color: hsl(220, 20%, 80%);
    cursor: default;
}

.k--label-checkbox.k--disabled input {
    cursor: default;
}

.k--modal-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.k--modal-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: hsla(220, 100%, 4%, .8);
}

.k--modal-content {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .2);
}
