
/* Navigation Styles2 */

  

nav.navbar {padding-top:0;padding-bottom:0}

nav.navbar.navbar-expand-lg {
    padding: 0 5vh;

}



.navbar .navbar-menu .navbar-item:hover {
    border-bottom: 2px solid #fff;
    padding-bottom: 6px;
  }
  
 @media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
      padding: 10px 20px;
              color: #fff;
    }
}
 

  .nav-link {color: #fff;}

  ul.navbar-nav > li > a:hover span {color:#fff;} 
  
  .navbar .nav-item.active {
  background-color: #20527c;
}
  /*
  ul.navbar-nav > li:focus, ul.navbar-nav > li:hover, ul.navbar-nav > li:active { background-color: #20527c; color: #fff!important;}*/
  ul.navbar-nav > li > a:focus, ul.navbar-nav > li > a:hover ,ul.navbar-nav > li > a:active  { color: #fff!important;background-color: #20527c;  text-decoration: none; }
  
 /* Sub Menu */
 
  
  ul.navbar-nav > li ul.sub-menu-lists {
   /*margin: 0px;*/
    padding: 0px; 
    list-style-type : none;
    display:block;
  }
  
  ul.navbar-nav > li ul.sub-menu-lists > li {
    padding: 2px 0;
  }
  
  ul.navbar-nav > li ul.sub-menu-lists > li > a {
    font-size: 14px;
    text-decoration: none;
  }
  
    ul.navbar-nav > li ul.sub-menu-lists > li > a:hover {
    text-decoration: underline;
  }



  .sub-menu-head { margin: 10px 0; }
ul.navbar-nav>li>a {
    box-sizing: border-box;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
    position: relative;
   
}

  @media only screen and (min-width:992px) {

  
    /* Main Menu for Desktop Devices  */
    .dropdown-menu { padding: 15px; 
      background-color: #f9f9f9;
          border-radius:0;
    margin-top:0;
  }
  
  
    /* Sub Menu */

    .sub-menu-head { font-size: 20px;}
 
    /* List Separator: Outer Border */
ul.navbar-nav > li > a { border-right: .5px solid #fff; text-decoration:none}

  }

  /*
  .nav-item:hover .sub-menu-lists,
  .nav-item:focus-within .sub-menu-lists {
  padding: 0;
  height: auto;
  clip: auto;
  }
  
  nav ul li:hover > ul,
  nav ul li:focus-within > ul,
  nav ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  }
*/
  
  @media only screen and (max-width:991.98px) {
    .sub-menu-head { color:#fff; }
    .dt-only {display: none;}
 
   
 


    ul.navbar-nav > li {
      display: block;
       border-bottom: 1px solid #fff; 
    }
  

  
    ul.navbar-nav > li ul.sub-menu-lists > li a { color: #20527c; font-size: 14px;padding:2px;display: block; }
       ul.navbar-nav > li ul.sub-menu-lists > li a:focus, ul.navbar-nav > li ul.sub-menu-lists > li a:hover {  color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;}
    .sub-menu-head { font-size: 16px;}


  
    .dropdown-menu { padding: 0 20px;
            border-radius: 0px; }

  }
 

 

  @media only screen and (min-width:992px) {
  .dropdown-menu {
    width: 40vw;
  }
}
 
 
.navbar-toggler {  
    
   
        background-color: rgb(204, 204, 204)}

